@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

body {
  background: #628395;
  height: 100%;
  font-family: 'Faster One', cursive;
}
.container {
  padding: 200px;
  width: 800px;
  margin: 30px auto;
  text-align: center;
}
h1 {
  font-weight: 200;
  font-size: 4em;
  text-transform: uppercase;
}
#seconds,
#tens {
  font-size: 2em;
}
button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 100px;
  -khtml-border-radius: 5px;
  background: #96897B;
  color: #111111;
  border: solid 1px #DFD5A5;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
  padding: 15px 7px;
  width: 180px;
  margin: 10px;
  outline: none;
  font-family: 'Faster One', cursive;
}
button:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #CF995F;
  border: solid 1px #fff;
  color: black;
}
